################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demos/MultiPlatformWindowDemo/.vs/MultiPlatformWindowDemo/v16
